{{#Container}}
  {{{Nav}}}
  {{#ProfileBox}}
    {{{ProfileLeft}}}
    {{#ProfileRight}}
      {{{Avatar name='Ivan'}}}
      <form action="#">
        {{#UserDetails}}
          {{{FieldProfile placeholder="Old Password" label="Old Password" type='password' value='Qwerty123'
  name='oldPassword'}}}
          {{{FieldProfile placeholder="New Password" label="New Password" type='password' value='Qwerty321'
  name='newPassword'}}}
          {{{FieldProfile placeholder="Repeat new password" label="Repeat new password" type='password'
  value='Qwerty321' name='newPasswordCheck'}}}
        {{/UserDetails}}

        {{#UserDetails}}
          {{{Button label="Save" type='submit'}}}
        {{/UserDetails}}
      </form>
    {{/ProfileRight}}
  {{/ProfileBox}}
{{/Container}}
