{{#Container}}
  {{{Nav}}}
  <div class="chats">
    <div class="chats-left">
      {{{ChatsHead}}}
      {{{ChatsList}}}
    </div>
    <div class="chats-right">
      {{{Messenger}}}
    </div>
  </div>
  {{{PopupManager}}}
{{/Container}}
