<div class="root-centered">
  {{#Form onSubmit=onSubmit}}
    {{#AuthformBox}}
      {{{AuthformHead title="Login"}}}

      {{#AuthformBody}}
        {{{Field placeholder="Login" label="Login" name='login'}}}
        {{{Field placeholder="Password" label="Password" name='password'}}}
      {{/AuthformBody}}

      {{#AuthformFooter}}
        <div class="login-action">
          {{{Button label="Sign in" type='submit'}}}
        </div>
        <div class="login-action">
          {{{NavButton label="Create account" route='/sign-up' }}}
        </div>
      {{/AuthformFooter}}

    {{/AuthformBox}}
  {{/Form}}
</div>
