<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      {{{NavButton label='Login' route='/login'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Create account' route='/sign-up'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Chats' route='/messenger'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Profile' route='/settings'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Edit profile' route='/editProfile'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Change-password' route='/changePassword'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='404' route='/notFound'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='500' route='/serverError'}}}
    </li>
  </ul>
</nav>
