<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      {{{NavButton label='Login' page='login'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Create account' page='join'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Chats' page='chats'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Profile' page='profile'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Edit profile' page='editProfile'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Change-password' page='changePassword'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='404' page='notFound'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='500' page='serverError'}}}
    </li>
    <li class="nav-item">
      {{{NavButton label='Popup' page='popup'}}}
    </li>
  </ul>
</nav>
